{% extends "layouts/admin.njk" %}

{% block content %}
  <form class="login-form">
    <h1>Acesso</h1>

    <button id="submit-button">Acessar</button>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/login.js"></script>
{% endblock %}
