<header>
  <div class="content">
    <div class="links">
      <a href="/criticas">Críticas</a>
      <a href="/filmes/melhores/ano">Filmes do Ano</a>
      <a href="/filmes/criticas">Filmes</a>
    </div>

    <div class="hamburger-button-container">
      <span id="hamburger-button">=</span>
    </div>

    <div id="mobile-menu">
      <a href="/criticas">Críticas</a>
      <a href="/filmes/melhores/ano">Filmes do Ano</a>
      <a href="/filmes/criticas">Filmes</a>
      <a href="/filmes/melhores/top10">Indicações da semana</a>
    </div>

    <a href="/filmes/melhores/top10" class="right-link">
      Indicações da semana
    </a>
  </div>
</header>
