<header>
  <div class="content">
    <div class="links">
      <a href="/criticas">Críticas</a>
      <a href="/filmes/melhores/ano">Filmes do Ano</a>
      <a href="/filmes/criticas">Filmes</a>
    </div>

    <span id="hamburger-button">=</span>

    <a href="/filmes/melhores/top10" class="right-link">
      Indicações da semana
    </a>
  </div>
</header>
