{% extends "layouts/public.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/404.css"/>

  <title>Nada encontrado</title>
{% endblock %}

{% block content %}

  <h1>404</h1>
  <span>Página não encontrada</span>

{% endblock %}
