{% extends "layouts/public.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/home.css"/>

  <title>Bacana</title>
{% endblock %}

{% block content %}

  <div id="post-page">
    <div class="header">
      <span>{{ post.created_at }}</span>
      <h2>{{ post.title }}</h2>
    </div>
    <pre>{{ post.content }}</pre>
  </div>

{% endblock %}
