header {
  height: 104px;
  background: var(--black);
  border-bottom: 4px solid var(--primary);
}

header .content {
  height: 100%;
  max-width: 900px;

  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .content a {
  font-size: 18px;
  line-height: 1.5;
  color: var(--header-text);

  transition: color 200ms;
}

header .content a:hover {
  color: var(--primary);
}

header .content .links a + a {
  margin-left: 14px;
}

header .content #hamburger-button {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  color: var(--primary);
  background: var(--black);

  display: none;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  cursor: pointer;
  filter: brightness(1.5);
  transition: opacity 100ms;
}

header .content #hamburger-button .svg-icon {
  width: 1em;
  height: 1em;
}

header .content #hamburger-button .svg-icon path,
header .content #hamburger-button .svg-icon polygon,
header .content #hamburger-button .svg-icon rect {
  fill: var(--primary);
}

header .content #hamburger-button.active {
  opacity: 0.5;
}

header .content .hamburger-button-container {
  height: 60px;
  display: flex;
  align-items: center;
}

header .content #mobile-menu {
  width: 100%;
  padding: 10px 0;

  display: none;
  flex-direction: column;
}

header .content #mobile-menu.active {
  display: flex;
}

header .content #mobile-menu a {
  width: 100%;
  padding: 10px;

  border-radius: 4px;
  background: var(--black);
  transition: filter 100ms;
}

header .content #mobile-menu a:hover {
  filter: brightness(1.5);
}

@media (max-width: 640px) {
  header {
    max-height: 80vh;
    min-height: 100px;
    height: auto;

    transition: height 200ms;
  }

  header .content {
    padding: 20px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  header .content .links,
  header .right-link {
    display: none;
  }

  header .content #hamburger-button {
    display: flex;
  }
}

@media (min-width: 641px) {
  header .content #mobile-menu {
    display: none !important;
  }
}
