@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&display=swap');

* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--background);
}

body,
input,
button,
textarea,
pre {
  font-size: 16px;
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #232323;
  text-decoration: none;
}

#main-content {
  width: 100%;
  max-width: 900px;

  padding: 20px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: var(--black);
}

.footer-text {
  color: #fff;
}

:root {
  --black: #232323;
  --primary: #ffc20e;
  --background: #fff;
  --header-text: #fff;
}
