<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/admin.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Movies.io | Admin</title>
  </head>

  <body>
    <main id="main-content" class="admin-container">
      {% block content %}{% endblock %}
    </main>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/scripts/authentication.js"></script>
  {% block scripts %}{% endblock %}
</html>
