<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles/main.css"/>

    <meta name="keywords" content="Filmes, Críticas, Cinema"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Venha conhecer um pouco mais sobre o melhro do cinama!"/>

    {% block head %}
      <title>Movies.io | Filmes</title>
    {% endblock %}
  </head>

  <body>
    <main class="main-content">
      {% include "components/header.njk" %}
      {% block content %}{% endblock %}
      {% include "components/footer.njk" %}
    </main>
  </body>

  <script src="/scripts/menu.js"></script>
  {% block scripts %}{% endblock %}
</html>
